<div>
    <h2 id="page-heading">
        <span>Service Rooms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-room" [routerLink]="['/service-room/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Service Room
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="serviceRooms?.length === 0">
        <span>No serviceRooms found</span>
    </div>
    <div class="table-responsive" *ngIf="serviceRooms?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="serviceHospital.id"><span>Service Hospital</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serviceRoom of serviceRooms ;trackBy: trackId">
                <td><a [routerLink]="['/service-room', serviceRoom.id, 'view' ]">{{serviceRoom.id}}</a></td>
                <td>{{serviceRoom.name}}</td>
                <td>{{serviceRoom.description}}</td>
                <td>
                    <div *ngIf="serviceRoom.serviceHospital">
                        <a [routerLink]="['/service-hospital', serviceRoom.serviceHospital?.id, 'view' ]" >{{serviceRoom.serviceHospital?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/service-room', serviceRoom.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/service-room', serviceRoom.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(serviceRoom)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="serviceRooms?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
