<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bedStatusHistory">
            <h2><span>Bed Status History</span> {{bedStatusHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{bedStatusHistory.createdDate}}</span>
                </dd>
                <dt><span>Bed</span></dt>
                <dd>
                    <div *ngIf="bedStatusHistory.bed">
                        <a [routerLink]="['/bed', bedStatusHistory.bed?.id, 'view']">{{bedStatusHistory.bed?.id}}</a>
                    </div>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    {{bedStatusHistory.createdBy?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bed-status-history', bedStatusHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
