<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span>Profile</span> {{profile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Pin</span></dt>
                <dd>
                    <span>{{profile.pin}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{profile.user?.id}}
                </dd>
                <dt><span>Hospital</span></dt>
                <dd>
                    <div *ngIf="profile.hospital">
                        <a [routerLink]="['/hospital', profile.hospital?.id, 'view']">{{profile.hospital?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
