<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bed">
            <h2><span>Bed</span> {{bed.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{bed.status}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{bed.name}}</span>
                </dd>
                <dt><span>Hospital</span></dt>
                <dd>
                    <div *ngIf="bed.hospital">
                        <a [routerLink]="['/hospital', bed.hospital?.id, 'view']">{{bed.hospital?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bed', bed.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
